{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <br>
    <div class="row featurette">
        <div class="col-md-7">
            <h6>Developer(s)	Armin Ronacher</h6>
            <h6>Initial release	April 01, 2010</h6>
            <h6>Written in	Python</h6>
        </div>
        <div class="col-md-5">
        <img src="https://qconlondon.com/london-2017/sites/default/files/styles/img-single-track/public/16602389_1396682037040642_4796705614143731651_o1a6e.jpg?itok=Aq344aSm" alt="picture of Armin" >
        </div>
    </div>  
    
    <p>
        Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.
         It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions.
          However, Flask supports extensions that can add application features as if they were implemented in Flask itself.
    </p>
{% endblock %}